#id_nombre_apellido,#id_telefono_contacto,#id_tecnico,#id_monto_total,#id_parte_pago{width: 80%;}#id_direccion {width: 90%;}#id_descripcion_problema, #id_observaciones{width: 90%;}#id_marca_equipo, #id_imei{ width: 70%;}#id_email,#id_equipo,#id_modelo_equipo,#id_numero_serie,#id_objectos{width: 90%;}#id_tipo_reparacion{display: flex;justify-content: center;}#id_tipo_reparacion>div{margin-right: 10px;}#id_fisuras,#id_pintura,#id_marcas,#id_golpes_graves,#id_manchas,#id_golpes_leves,#id_componentes_faltantes,#id_otros{width: 90%;}
#id_codigo{
    width: 69%;
}
ul.errorlist {
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
    list-style: none;
    width:70%;
}