{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'pedido.css' %}">
    <title>Detalle del Pedido</title>
</head>
<body>
    <div class="container">
        <h2>Hola, {{nombre}}</h2>
        <p>El pedido que tenías con este problema: {{problema}}</p>

        {% if estado == "Aceptado" %}
        <p>Se encuentra en el estado: Aceptado . </p>
        {% elif estado == "En produccion" %}
        <p>Se encuentra en el estado: En produccion.</p>
        {% else %}
        <p>Se encuentra en el estado: Listo para retirar.<p/>
            {% endif %}

        <a href="{% url 'clientes:formCodigo' %}">Atrás</a>
        <a href="{% url 'clientes:home' %}">Inicio</a>
    </div>
</body>
</html>
