{% extends "admin/base_site.html" %}
{% load static %}
{% load i18n admin_urls static admin_modify jazzmin %}
{% get_jazzmin_settings request as jazzmin_settings %}

{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'vendor/select2/css/select2.min.css' %}">

    <link rel="stylesheet" href="{% static 'a.css' %}">
{% endblock %}

{% block extrahead %}
    {{ block.super }}
    <script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script>
    {{ media }}
{% endblock %}

{% block coltype %}colM{% endblock %}

{% block bodyclass %}{{ block.super }} app-{{ opts.app_label }} model-{{ opts.model_name }} change-form{% endblock %}

{% if not is_popup %}
    {% block breadcrumbs %}
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'admin:index' %}">{% trans 'Home' %}</a></li>
            <li class="breadcrumb-item"><a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ opts.app_config.verbose_name }}</a></li>
            <li class="breadcrumb-item">
                {% if has_view_permission %}
                    <a href="{% url opts|admin_urlname:'changelist' %}">{{ opts.verbose_name_plural|capfirst }}</a>
                {% else %}
                    {{ opts.verbose_name_plural|capfirst }}
                {% endif %}
            </li>
            <li class="breadcrumb-item active">
                {% if add %}
                    {% blocktrans with name=opts.verbose_name %}Add {{ name }}{% endblocktrans %}
                {% else %}
                    {{ original|truncatewords:"18" }}
                {% endif %}
            </li>
        </ol>
    {% endblock %}
{% endif %}

{% block content_title %} {{ opts.verbose_name_plural|capfirst }} {% endblock %}

{% block content %}

    <div id="content-main" class="col-12">
        <form {% if has_file_field %}enctype="multipart/form-data" {% endif %}action="{{ form_url }}" method="post" id="{{ opts.model_name }}_form" novalidate>
            {% csrf_token %}
            {% block form_top %}{% endblock %}

            {% if errors %}
                <div class="alert alert-danger">
                    {% if errors|length == 1 %}
                        {% trans "Please correct the error below." %}
                    {% else %}
                        {% trans "Please correct the errors below." %}
                        {{ form.errors }}
                    {% endif %}
                </div>
                {% for error in adminform.form.non_field_errors %}
                    <div class="alert alert-danger alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <i class="icon fa fa-ban"></i>{{ error|capfirst }}
                    </div>
                {% endfor %}
            {% endif %}

            <div class="row">
                {% if is_popup %}<input type="hidden" name="{{ is_popup_var }}" value="1">{% endif %}
                {% if to_field %}<input type="hidden" name="{{ to_field_var }}" value="{{ to_field }}">{% endif %}

                {% block field_sets %}
                    <div class="col-12 col-lg-9">
                        <div class="card">
                            <div class="card-body">
                                <center><h5>DATOS DE RECEPCION</h5></center>
                                <div class="form-row">
                                    <div class="col">
                                        <strong>Fecha entrada</strong><br>{{adminform.form.fecha_deja_prod}} {{adminform.form.fecha_deja_prod.errors}}
                                    </div>
                                    <div class="col">
                                        <strong>{{adminform.form.estado.label}}</strong><br>{{adminform.form.estado}} {{adminform.form.estado.errors}}
                                    </div>
                                    <div class="col">
                                        <strong>{{adminform.form.codigo.label}}</strong><br>
                                        <input type="text" id="codigo" name="codigo" value="{{ codigo_cliente }}"> 
                                        {{adminform.form.codigo.errors}}
                                    </div>
                                  </div>
                                  <div class="form-row">
                                    <div class="col">
                                        <strong>{{adminform.form.mensaje.label}}</strong><br>{{adminform.form.mensaje}} <a href=""id="whatsapp-link" target="_blank" ><i id="wasap" class="fab fa-whatsapp"></i></a> {{adminform.form.estado.errors}}
                                    </div>
                                  </div>
                                  <div class="row">
                                    <!-- Tarjeta 1 - Aceptado -->
                                    <div class="col-lg-6 col-md-12 mb-4">
                                        <div class="card custom-card h-100 text-white bg-primary">
                                            <div class="card-body">
                                                <h5 class="card-title">Aceptado</h5>
                                                <p class="card-text">
                                                    Estimado/a Sr./Sra. <span id="nombre_apellido_placeholder1"></span>,
                                                    su equipo <span id="equipo_placeholder1"></span> ha sido aceptado. Nos pondremos manos a la obra pronto y le notificaremos una vez que el problema haya sido resuelto con éxito. ¡Gracias por confiar en nosotros!
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                
                                    <!-- Tarjeta 2 - Arreglo en Proceso -->
                                    <div class="col-lg-6 col-md-12 mb-4">
                                        <div class="card custom-card h-100 text-white bg-warning">
                                            <div class="card-body">
                                                <h5 class="card-title">Arreglo en Proceso</h5>
                                                <p class="card-text">
                                                    Estimado/a Sr./Sra. <span id="nombre_apellido_placeholder2"></span>,
                                                    le informamos que actualmente estamos trabajando en su equipo <span id="equipo_placeholder2"></span> para resolver el problema. Nuestro equipo está haciendo todo lo posible para garantizar que su dispositivo vuelva a funcionar como nuevo. Pronto le proporcionaremos más detalles y le notificaremos cuando esté listo para ser retirado en nuestras instalaciones. ¡Agradecemos su comprensión!
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="row">
                                    <!-- Tarjeta 3 - Listo para Retirar -->
                                    <div class="col-lg-6 col-md-12 mb-4">
                                        <div class="card custom-card h-100 text-white bg-success">
                                            <div class="card-body">
                                                <h5 class="card-title">Listo para Retirar</h5>
                                                <p class="card-text">
                                                    Estimado/a Sr./Sra. <span id="nombre_apellido_placeholder3"></span>,
                                                    su equipo <span id="equipo_placeholder3"></span> ya fue atendido y el problema exitosamente fue resuelto, ya puede venir a retirar el equipo. Muchas gracias!
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                
                                    <!-- Tarjeta 4 - Otro Tipo de Mensaje -->
                                    <div class="col-lg-6 col-md-12 mb-4">
                                        <div class="card custom-card h-100 text-white bg-danger">
                                            <div class="card-body">
                                                <h5 class="card-title">No tiene arreglo </h5>
                                                <p class="card-text">
                                                    Estimado/a Sr./Sra. <span id="nombre_apellido_placeholder4"></span>,
                                                    lamentablemente no pudimos resolver el problema con su equipo <span id="equipo_placeholder4"></span>. Puede pasar a retirar su equipo en nuestras instalaciones. Estamos disponibles para discutir opciones alternativas o brindar más información. ¡Agradecemos su comprensión!
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                               
                            

                                  <div class="form-row">
                                    <div class="col">
                                        <strong>{{adminform.form.nombre_apellido.label}}</strong><br>{{adminform.form.nombre_apellido}} {{adminform.form.nombre_apellido.errors}}
                                    </div>
                                    <div class="col" >
                                        <strong>{{adminform.form.telefono_contacto.label}}</strong><br>{{adminform.form.telefono_contacto}} {{adminform.form.telefono_contacto.errors}}
                                    </div>
                                  </div>

                                  <div class="form-row">
                                    <div class="col">
                                        <strong>{{adminform.form.equipo.label}}</strong><br>{{adminform.form.equipo}} {{adminform.form.equipo.errors}}
                                    </div>
                                    <div class="col">
                                        <strong>{{adminform.form.imei.label}}</strong><br>{{adminform.form.imei}} {{adminform.form.imei.errors}}
                                    </div>
                                  </div>
                                  <div class="form-row">
                                    <div class="col">
                                        <strong>{{adminform.form.descripcion_problema.label}}</strong><br>{{adminform.form.descripcion_problema}} {{adminform.form.descripcion_problema.errors}}
                                    </div>
                                  </div>
                                    <center><h5>TIPO DE REPARACION</h5></center>
                                <div class="form-row">
                                    <div class="col">
                                        <center>{{adminform.form.tipo_reparacion}}</center> {{adminform.form.tipo_reparacion.errors}}
                                    </div>
                                </div>
                                <center>
                                <table style="width:90%">
                                    <tr>
                                      <th>CARACTERISTICA</th>
                                      <th>EN QUE PARTE DEL PRODUCTO</th>
                                    </tr>
                                    <tr>
                                      <td><strong>{{adminform.form.fisuras.label}}</strong></td>
                                      <td>{{adminform.form.fisuras}} {{adminform.form.fisuras.errors}}</td>
                                    </tr>
                                    <tr>
                                      <td><strong>{{adminform.form.pintura.label}}</strong></td>
                                      <td>{{adminform.form.pintura}} {{adminform.form.pintura.errors}}</td>
                                    </tr>
                                    <tr>
                                      <td><strong>{{adminform.form.marcas.label}}</strong></td>
                                      <td>{{adminform.form.marcas}} {{adminform.form.marcas.errors}}</td>
                                    </tr>
                                    <tr>
                                      <td><strong>{{adminform.form.golpes_graves.label}}</strong></td>
                                      <td>{{adminform.form.golpes_graves}} {{adminform.form.golpes_graves.errors}}</td>
                                    </tr>
                                    <tr>
                                      <td><strong>{{adminform.form.manchas.label}}</strong></td>
                                      <td>{{adminform.form.manchas}} {{adminform.form.manchas.errors}} </td>
                                    </tr>
                                    <tr>
                                      <td><strong>{{adminform.form.golpes_leves.label}}</strong></td>
                                      <td>{{adminform.form.golpes_leves}} {{adminform.form.golpes_leves.errors}}</td>
                                    </tr>
                                    <tr>
                                      <td><strong>{{adminform.form.componentes_faltantes.label}}</strong></td>
                                      <td>{{adminform.form.componentes_faltantes}} {{adminform.form.componentes_faltantes.errors}} </td>
                                    </tr>
                                    <tr>
                                      <td><strong>{{adminform.form.otros.label}}</strong></td>
                                      <td>{{adminform.form.otros}} {{adminform.form.otros.errors}} </td>
                                    </tr>
                                  </table>
                                </center>
                                <div class="form-row">
                                    <div class="col">
                                        <strong>{{adminform.form.observaciones.label}}</strong><br>{{adminform.form.observaciones}} {{adminform.form.observaciones.errors}}
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col">
                                        <strong>{{adminform.form.objectos.label}}</strong><br>{{adminform.form.objectos}} {{adminform.form.objectos.errors}}
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col">
                                        <strong>Fecha Salida (Aprox) </strong><br>{{adminform.form.fecha_terminacion_prod}} {{adminform.form.fecha_terminacion_prod.errors}}
                                    </div>
                                    <div class="col">
                                        <strong>{{adminform.form.tecnico.label}}</strong><br>{{adminform.form.tecnico}} {{adminform.form.tecnico.errors}}
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col">
                                        <strong>$$$-{{adminform.form.parte_pago.label}}</strong><br>{{adminform.form.parte_pago}} {{adminform.form.parte_pago.errors}}
                                    </div>
                                    <div class="col">
                                        <strong>$$$-{{adminform.form.monto_total.label}}</strong><br>{{adminform.form.monto_total}}<br>{{adminform.form.monto_total.errors}}
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col">
                                        <strong>{{adminform.form.codigo_patron.label}}</strong><br>{{adminform.form.codigo_patron}} {{adminform.form.codigo_patron.errors}}
                                    </div>
                                </div> 
                                <br>
                                {% if adminform.form.dibujo_patron.value %}
                                <div class="form-group">
                                    <label for="dibujo_patron">Patron</label>
                                    <input type="text" class="form-control" id="dibujo_patron" value="{{ adminform.form.dibujo_patron.value }}" readonly>
                                </div>
                            {% else %}
                                <div id="pattern-container">                                    <center><h5>Patron:</h5>
                                    <svg class="patternlock" id="lock" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg" width="30%" style="border: 1px solid red;">
                                        <g class="lock-actives"></g>
                                        <g class="lock-lines"></g>
                                        <g class="lock-dots">
                                            <circle cx="20" cy="20" r="2"/>
                                            <circle cx="50" cy="20" r="2"/>
                                            <circle cx="80" cy="20" r="2"/>
                                        
                                            <circle cx="20" cy="50" r="2"/>
                                            <circle cx="50" cy="50" r="2"/>
                                            <circle cx="80" cy="50" r="2"/>
                                        
                                            <circle cx="20" cy="80" r="2"/>
                                            <circle cx="50" cy="80" r="2"/>
                                            <circle cx="80" cy="80" r="2"/>
                                        </g>

                                    </svg>
                                    <h6>Patron en tiempo real</h6>
                                    <input id="dibujo_patron_input" name="{{ adminform.form.dibujo_patron.name }}" value="{{ adminform.form.dibujo_patron.value }}"></center>
                                </div>
                            {% endif %}
                                

                               
                                {% get_changeform_template adminform as changeform_template %}
                            </div>
                        </div>
                    </div>
                {% endblock %}

                {% block after_field_sets %}{% endblock %}

                {% block inline_field_sets %}{% endblock %}

                {% block after_related_objects %}{% endblock %}

                <div class="col-12 col-lg-3">
                    <div id="jazzy-actions" class="{{ jazzmin_ui.actions_classes }}">
                        {% block submit_buttons_bottom %}
                            {% submit_row %}
                            {% block object-tools %}
                                {% if change %}
                                    {% if not is_popup %}
                                        <div class="object-tools">
                                            {% block object-tools-items %}
                                                {% change_form_object_tools %}
                                                {% block extra_actions %}{% endblock %}
                                            {% endblock %}
                                        </div>
                                    {% endif %}
                                {% endif %}
                            {% endblock %}
                        {% endblock %}
                    </div>
                </div>

                {% block admin_change_form_document_ready %}
                    <script type="text/javascript" id="django-admin-form-add-constants" src="{% static 'admin/js/change_form.js' %}" {% if adminform and add %}data-model-name="{{ opts.model_name }}"{% endif %}></script>
                {% endblock %}

                {% prepopulated_fields_js %}
            </div>
        </form>
    </div>

{% endblock %}
{% block extrajs %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'vendor/select2/js/select2.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'jazzmin/js/change_form.js' %}"></script>
    {% if jazzmin_settings.related_modal_active %}
    <script type="text/javascript" src="{% static 'jazzmin/plugins/bootstrap-show-modal/bootstrap-show-modal.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'jazzmin/js/related-modal.js' %}"></script>
    {% endif %}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" crossorigin="anonymous"></script>
    <script src="{% static "patternlock.js" %}"></script>
    <script>
        $(document).ready(function() {
            // Maneja el cambio de estado con jQuery
            $('#id_estado').on('change', function() {
                console.log('Actualizado!');
            });
    
            // Establece la fecha y hora actuales
            var now = new Date();
            var month = (now.getMonth() + 1);               
            var day = now.getDate();
            var hours = now.getHours();
            var minutes = now.getMinutes();
            if(month < 10) 
                month = "0" + month;
            if(day < 10) 
                day = "0" + day;
            if(hours < 10) 
                hours = "0" + hours;
            if(minutes < 10) 
                minutes = "0" + minutes;
            var today = now.getFullYear() + '-' + month + '-' + day;
            var time = hours + ":" + minutes;
            document.getElementById('id_fecha_deja_prod').value = today + "T" + time;
    
            // Inicializa el patrón de bloqueo
            var e = document.getElementById('lock')
            var p = new PatternLock(e, {
                onPattern: function(pattern) {
                    this.success();
                    var patternValue = this.getPattern();
                    document.getElementById('dibujo_patron_input').value = patternValue;
                }
            });
        });
    </script>

    <script>
        $(document).ready(function() {
            $('#id_nombre_apellido, #id_equipo, #id_estado').on('input', function() {
                var nombreApellido = $('#id_nombre_apellido').val();
                var equipo = $('#id_equipo').val();
                var selectedValue = $('#id_estado').val();
        
                // Actualiza los campos de nombre y equipo en todas las tarjetas
                $('#nombre_apellido_placeholder1, #nombre_apellido_placeholder2, #nombre_apellido_placeholder3, #nombre_apellido_placeholder4').text(nombreApellido);
                $('#equipo_placeholder1, #equipo_placeholder2, #equipo_placeholder3, #equipo_placeholder4').text(equipo);
        
                // Actualiza el texto de la tarjeta de acuerdo al estado seleccionado
                switch (selectedValue) {
                    case 'Aceptado':
                        // actualiza solo la tarjeta 'Aceptado'
                        break;
                    case 'En Arreglo':
                        // actualiza solo la tarjeta 'En Arreglo'
                        break;
                    case 'Listo para retirar':
                        // actualiza solo la tarjeta 'Listo para retirar'
                        break;
                    case 'No se puede arreglar':
                        // actualiza solo la tarjeta 'No se puede arreglar'
                        break;
                }
            }).trigger('input'); 
        });
        </script>
        <script>
            $(document).ready(function() {
                $('#id_nombre_apellido, #id_equipo, #id_estado').on('input', function() {
                    var id_mensaje = document.getElementById('id_mensaje');
                    var nombreApellido = $('#id_nombre_apellido').val();
                    var equipo = $('#id_equipo').val();
                    var selectedValue = $('#id_estado').val();
            
                    switch (selectedValue) {
                        case 'Aceptado':
                            id_mensaje.value = 'Estimado/a Sr./Sra. ' + nombreApellido + ', su equipo ' + equipo + ' ha sido aceptado. Nos pondremos manos a la obra pronto y le notificaremos una vez que el problema haya sido resuelto con éxito. ¡Gracias por confiar en nosotros!';
                            break;
                        case 'En Arreglo':
                            id_mensaje.value = 'Estimado/a Sr./Sra. ' + nombreApellido + ', le informamos que actualmente estamos trabajando en su equipo ' + equipo + ' para resolver el problema. Nuestro equipo está haciendo todo lo posible para garantizar que su dispositivo vuelva a funcionar como nuevo. Pronto le proporcionaremos más detalles y le notificaremos cuando esté listo para ser retirado en nuestras instalaciones. ¡Agradecemos su comprensión!';
                            break;
                        case 'Listo para retirar':
                            id_mensaje.value = 'Estimado/a Sr./Sra. ' + nombreApellido + ', su equipo ' + equipo + ' ya fue atendido y el problema exitosamente fue resuelto, ya puede venir a retirar el equipo. Muchas gracias!';
                            break;
                        case 'No se puede arreglar':
                            id_mensaje.value = 'Estimado/a Sr./Sra. ' + nombreApellido + ', lamentablemente no pudimos resolver el problema con su equipo ' + equipo + '. Puede pasar a retirar su equipo en nuestras instalaciones. Estamos disponibles para discutir opciones alternativas o brindar más información. ¡Agradecemos su comprensión!';
                            break;
                        default:
                            id_mensaje.value = 'Por favor, seleccione un estado válido.';
                    }
                }).trigger('input'); 
            });
            </script>
            <script>
                $(document).ready(function() {
                    $('#id_nombre_apellido, #id_equipo, #id_estado').on('input', function() {
                        var id_mensaje = document.getElementById('id_mensaje').value;
                        var id_telefono_contacto = $('#id_telefono_contacto').val().replace(/\D/g,''); // Elimina todos los caracteres no numéricos
                
                        // Codifica el mensaje para su uso en una URL
                        var mensajeCodificado = encodeURIComponent(id_mensaje);
                
                        // Actualiza el enlace de WhatsApp
                        $('#whatsapp-link').attr('href', 'https://wa.me/' + id_telefono_contacto + '?text=' + mensajeCodificado);
                    }).trigger('input');
                });
                </script>
{% endblock %}